body {
    font-family: Arial;
    background: linear-gradient(to right, #d685ca, #da54d4);
    margin: 0;
    padding: 20px;
}

/* BOX UTAMA */
.container {
    background: white;
    padding: 25px;
    border-radius: 15px;
    max-width: 800px;
    margin: auto;
}

/* JUDUL */
h1, h2 {
    text-align: center;
}

/* SOAL */
.soal {
    background: #e1a8e3;
    padding: 15px;
    border-radius: 10px;
}

/* JAWABAN */
.jawaban {
    background: #e1a8e3;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
}

/* TABLE */
table {
    width: 100%;
    margin-top: 20px;
}

td {
    padding: 10px;
}

/* INPUT */
input {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* BUTTON */
.btn {
    width: 100%;
    padding: 12px;
    background: #894687;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* HOVER EFFECT */
.btn:hover {
    background: #764ba2;
}